:root {
    --dark: #1d1135;
    --light: #fcfbfe;
    --lightpurple: #7649fe;
    --purple: #5643fd;
    --blue: #0c164f;
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: var(--lightpurple);
    font-size: 16px;
}

main {
    margin: 20px auto;
    width: 94%;
}

/*p {
    font-size: 1.2rem;
}
*/

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--light);
    border: none;
    outline: none;
    background-color: var(--purple);
    box-shadow: 3px 3px var(--light);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(--lightpurple);
    background-color: var(--blue);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--blue);
}

.btn-inline {
    display: inline;
}
/* possible list of videos
.list-group {
    padding: 0;
    list-style: none;
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--blue);
    color: var(--primary);
    text-decoration: none;
}

.list-item:hover {
    background-color: var(--purple);
}
*/